[submodule "client"]
	path = client
	url = https://github.com/biicode/client.git
[submodule "common"]
	path = common
	url = https://github.com/biicode/common.git
[submodule "bii-server"]
	path = bii-server
	url = https://github.com/biicode/bii-server.git
